{% extends 'base.html.twig' %}

{% block body %}

    <h1>Eliminar cita</h1>

    <div class="alert alert-warning">
        ¿Está seguro de que desea eliminar la cita {{ cita.id }}? La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('cita_modificar', {'id': cita.id}) }}" class="btn btn-info"><i class="bi bi-box-arrow-up-left"></i> Volver a la cita</a>
        <button type="submit" name="confirmar" value="ok" class="btn btn-danger"><i class="bi bi-trash"></i> Confirmar eliminación</button>
    </form>

{% endblock %}
